<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.store.ShopMapper">

    <!-- 목록 보기 -->
    <select id="getAllProducts" resultType="com.sku.fitizen.domain.store.Product">
        SELECT * FROM product ORDER BY PRID DESC
    </select>

    <!-- 상세 보기 -->
    <select id="getProductById" parameterType="int" resultType="com.sku.fitizen.domain.store.Product">
        SELECT * FROM product WHERE prid = #{prid}
    </select>

    <insert id="insertProduct" parameterType="com.sku.fitizen.domain.store.Product">
        <!-- Oracle에서 시퀀스를 통해 prid 키 생성 -->
        <selectKey keyProperty="prid" resultType="int" order="BEFORE">
            SELECT product_seq.NEXTVAL AS prid FROM dual
        </selectKey>

        INSERT INTO product (prid, prname, prprice, prdesc, primage)
        VALUES (#{prid}, #{prname}, #{prprice}, #{prdesc}, #{primage})
    </insert>

    <!-- 상품명으로 prid 얻기 -->
    <select id="getPridByProductName" parameterType="string" resultType="int">
        SELECT prid
        FROM product
        WHERE prname = #{prname}
    </select>

    <!-- 수정 -->
    <update id="updateProduct" parameterType="com.sku.fitizen.domain.store.Product">
        UPDATE product
        SET prname = #{prname}, prprice = #{prprice}, prdesc = #{prdesc}, primage = #{primage}
        WHERE prid = #{prid}
    </update>

    <!-- 삭제 -->
    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product WHERE prid = #{prid}
    </delete>

</mapper>
