
    /* 기본 스타일 */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Pretendard-Black';
}


/* 섹션 스타일 */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


/* 섹션 내부 콘텐츠 정렬 */
.section-content {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* 텍스트와 이미지 스타일 */
.section-text {
    flex: 1;
    color: #000;
    padding: 20px;

}

.section-image {
    flex: 1;
    text-align: center;
}
.header-container.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.section-1 {
    background-image: url('/image/fitizenbackground1.jpg');
    background-size: cover;
    background-attachment: scroll;
}

.section-2 {
    background-image: url('/image/fitizenbackground2.png');
    background-size: cover;
    background-attachment: scroll;
}

.section-3 {
    background-image: url('/image/fitizenbackground3.jpg');
    background-size: cover;
    background-attachment: scroll;
}
.section-4 {
    background-image: url('/image/fitizenbackground2.png');
    background-size: cover;
    background-attachment: scroll;
}

.section-5 {
    /*background: url("../image/fb.jpg") no-repeat center center;*/
    background-image: url('/image/fitizenbackground4.png');
    background-size: cover;
    background-attachment: scroll;
}

/* 반응형 스타일 */
@media (max-width: 768px) {
    .section-content {
        flex-direction: column;
        text-align: center;
    }
}
.section-nav {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 100;
}

.nav-dot {
    width: 12px;
    height: 12px;
    background-color: lightgray;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-dot.active {
    background-color: #000; /* 활성화된 섹션의 색상 */
}
