@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Black';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}


html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #1C1C3C;
    justify-content: space-between; /* 로고와 메뉴 간의 간격을 자동으로 조절 */
    align-items: center;
}
#logo {
    margin-right: 20px; /* 로고와 메뉴 사이의 간격 조정 */
}

.nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.nav li {
    position: relative;
    margin-right: 20px; /* 메뉴 항목 사이의 간격 조정 */
    white-space: nowrap;
}

.nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.nav a:hover {
    background-color: #6b0c36;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #1C1C3C;  /*드롭다운 마우스안올렷을때 배경색*/
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #1C1C3C;
}

.dropdown-menu li {
    margin: 0;
}

.dropdown-menu a {
    padding: 10px;
    color: #fff;            /*밑에뜨는 애들 글씨 색*/
    text-decoration: none;
}

.dropdown-menu a:hover {
    background-color: #6b0c36;  /* 글씨배경에 마우스올릴때 색*/
}

.content-wrapper {
    flex: 1; /* 이 부분이 푸터를 화면 하단에 고정시키는 핵심 */
}


header{
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
footer {
    height: auto; /* 테이블 높이에 따라 유연하게 조정 */
    margin-top: auto;
    background-color: #1C1C3C; /* 푸터 배경 색상 */
    color: white; !important;/* 푸터 텍스트 색상 */
    text-align: center; /* 푸터 내용 중앙 정렬 */
    padding: 20px 0; /* 푸터 내부 여백 추가 */
    width: 100%;
    position: relative;
}

.footer-table {
    width: 100%; /* 테이블 너비를 푸터 전체로 확장 */
    max-width: 1200px; /* 필요 시 최대 너비 제한 */
    margin: 0 auto; /* 가운데 정렬 */
    border-collapse: collapse; /* 셀 간격 제거 */
    color: white; /* 테이블 텍스트 색상 */
    border: none; /* 테이블의 경계선 제거 */

}

.footer-table td {
    padding: 10px; /* 셀 내부 간격 추가 */
    text-align: center; /* 텍스트 중앙 정렬 */
    background-color: #1C1C3C;
    border: none; /* 테이블의 경계선 제거 */

}

footer a{
    color:#fff !important;
}
