<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.CartMapper">


    <!-- 장바구니에서 특정 사용자와 상품으로 항목 찾기 -->
    <select id="findCartItemByUserIdAndProductId" parameterType="map" resultType="com.sku.fitizen.domain.CartItem">
        SELECT * FROM cart_item WHERE product_id = #{productId} AND user_id = #{userId}
    </select>

    <!-- 장바구니에 항목 추가 -->
    <insert id="insertCartItem" parameterType="com.sku.fitizen.domain.CartItem">
        INSERT INTO cart_item (
            cart_id, product_id, qty, user_id, product_name, product_price, price
        ) VALUES (
                     cart_item_seq.NEXTVAL,
                     #{product_id, jdbcType=INTEGER},
                     #{qty, jdbcType=INTEGER},
                     #{user_id, jdbcType=VARCHAR},
                     #{product_name, jdbcType=VARCHAR},
                     #{product_price, jdbcType=INTEGER},
             #{qty} * (SELECT prprice FROM product WHERE product_id = #{product_id}AND ROWNUM = 1)
                 )
    </insert>

    <!-- 장바구니 항목 수량 업데이트 -->
    <update id="updateQty" parameterType="com.sku.fitizen.domain.CartItem">
        UPDATE cart_item
        SET qty = #{qty},
            price = #{qty} * (SELECT product_price FROM product WHERE product_id = #{product_id} AND ROWNUM = 1)
        WHERE product_id = #{product_id} AND user_id = #{user_id}
    </update>


    <select id="selectCartItemsByUserId" parameterType="string" resultMap="cartItemResultMap">
        SELECT ci.*, p.prname, p.prprice, p.prid
        FROM cart_item ci
                 JOIN product p ON ci.product_id = p.prid
        WHERE ci.user_id = #{user_id}
        order by prid
    </select>

    <!-- 장바구니 항목 삭제 -->
    <delete id="deleteCartItemsByUserId" parameterType="com.sku.fitizen.domain.CartItem">
        DELETE FROM cart_item WHERE user_id = #{user_id} and product_id= #{product_id}
    </delete>



    <select id="findSelectedCartItems" parameterType="map" resultType="com.sku.fitizen.domain.CartItem">
        SELECT *
        FROM cart_item
        WHERE user_id = #{userId} AND product_id IN
        <foreach item="productId" index="index" collection="productIds" open="(" separator="," close=")">
            #{product_id}
        </foreach>
    </select>



    <resultMap id="cartItemResultMap" type="com.sku.fitizen.domain.CartItem">
        <result property="id" column="id"/>
        <result property="qty" column="qty"/>
        <result property="price" column="price"/>
        <association property="product" javaType="com.sku.fitizen.domain.Product">
            <result property="prid" column="product_id"/>
            <result property="prname" column="prname"/>
            <result property="prprice" column="prprice"/>
        </association>
    </resultMap>

</mapper>
