<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.ChatMapper">

    <!--챌린지 메세지 저장 -->
    <insert id="saveChallMessage" parameterType="com.sku.fitizen.domain.challenge.Message" useGeneratedKeys="true" keyProperty="messageId" keyColumn="messageId">

        INSERT  INTO MESSAGE
        VALUES (msg_seq.NEXTVAL,#{senderId},#{message},#{sentAt},#{roomId},#{img},#{uImg})
    </insert>

    <!-- 알림 저장 -->
    <insert id="saveChallAlim" parameterType="com.sku.fitizen.domain.challenge.ChallAlim">
        INSERT INTO CHALLALIM
            (ALIMID, USERID, MESSAGEID, SEEN)
        VALUES (alim_seq.NEXTVAL, #{userId}, #{messageId}, #{seen})
    </insert>

    <!--상담 채팅 메세지 저장 -->
    <insert id="saveConsultMessage" parameterType="com.sku.fitizen.domain.Trainer.ConsultMessage">
        INSERT  INTO CONSULTMESSAGE
        VALUES (TMSG_SEQ.nextval,#{senderId},#{message},SYSDATE,#{consultId},#{img},#{uImg})

    </insert>

    <!--챌린지 메세지 불러오기-->
    <select id="getMessagesByRoomId" parameterType="com.sku.fitizen.domain.challenge.Participation"
            resultType="Message">
            SELECT * FROM  message
            WHERE roomId=#{ChallengeId}
            AND sentAt >=(
                SELECT MIN(sentAt)
                FROM message
                WHERE  roomId=#{ChallengeId}
                AND senderID=#{userId}
                )
            ORDER BY sentAt,messageId


    </select>
    <!-- 트레이너 상담 메세지 불러오기 -->
    <select id="getMessagesByConsultId" parameterType="Integer"
            resultType="ConsultMessage">
        SELECT * FROM  CONSULTMESSAGE
        WHERE CONSULTID=#{consultId}
        ORDER BY sentAt,messageId

    </select>

    <!--참여자 테이블에 유저가 존재하는지-->
    <select id="checkParticipationExists" parameterType="com.sku.fitizen.domain.challenge.Participation">
            SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
            FROM participation
            WHERE userId = #{userId} AND challengeId = #{ChallengeId}

    </select>
    <!-- 알림 테이블에서 확인 여부 조회 -->
    <select id="checkIfSee" parameterType="map" resultType="integer">
        SELECT SEEN
        FROM CHALLALIM
        WHERE MESSAGEID = #{messageId}
          AND USERID = #{userId}
    </select>

</mapper>