<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.FileMapper">

    <!-- 특정 게시글에 속한 파일 목록 조회 -->
    <select id="getFilesByBoard" parameterType="long" resultType="com.sku.fitizen.domain.BoardFilesVO">
        SELECT fnum, bno, realName, uuidName, fsize, ftype
        FROM files
        WHERE bno = #{bno}
    </select>

    <!-- 특정 파일 번호(fnum)에 해당하는 파일 정보 조회 -->
    <select id="getFileByFnum" parameterType="long" resultType="com.sku.fitizen.domain.BoardFilesVO">
        SELECT *
        FROM files
        WHERE fnum = #{fnum}
    </select>

    <!-- 파일 삽입 -->
    <insert id="insertFile" parameterType="com.sku.fitizen.domain.BoardFilesVO">
        INSERT INTO files (fnum, bno, realName, uuidName, fsize, ftype)
        VALUES (FILES_SEQ.NEXTVAL, #{bno}, #{realName}, #{uuidName}, #{fsize}, #{ftype})
    </insert>

    <!-- 파일 삭제 -->
    <delete id="deleteFile" parameterType="long">
        DELETE FROM files
        WHERE fnum = #{fnum}
    </delete>

    <!-- 특정 게시글에 속한 모든 파일 삭제 -->
    <delete id="deleteFilesByBoard" parameterType="long">
        DELETE FROM files
        WHERE bno = #{bno}
    </delete>

</mapper>
