<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.PaymentMapper">

    <!-- 결제 정보 저장-->
    <insert id="savePayment" parameterType="com.sku.fitizen.domain.Payment" >
        INSERT INTO payment (
            paymentId,
            userId,
            impUid,
            merchantUid,
            amount,
            paidAt
        ) VALUES (
                     PAYMENT_SEQ.nextval,
                     #{userId},
                     #{impUid},
                     #{merchantUid},
                     #{amount},
                     SYSDATE
                 )
    </insert>


    <!-- 결제 내역 -->
    <select id="getPaymentList" parameterType="com.sku.fitizen.domain.Payment">

         SELECT  * FROM  PAYMENT
         WHERE  USERID =#{userId}

    </select>


    <!--개인 보유 잔액(포인트)-->
    <select id="getBalanceByUserId" parameterType="String" resultType="Integer">
        SELECT
            NVL((SELECT SUM(AMOUNT) FROM PAYMENT WHERE USERID = #{userId}), 0)
                - NVL((SELECT SUM(SPENT_AMOUNT) FROM SPENDINGPOINT WHERE USERID = #{userId}), 0)
                AS balance
        FROM DUAL
    </select>







</mapper>

