<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.ShopMapper">

    <!-- 목록 보기 -->
    <select id="getAllProducts" resultType="com.sku.fitizen.domain.Product">
        SELECT * FROM product
    </select>

    <!-- 상세 보기 -->
    <select id="getProductById" parameterType="int" resultType="com.sku.fitizen.domain.Product">
        SELECT * FROM product WHERE prid = #{prid}
    </select>

    <!-- 추가 -->
    <insert id="insertProduct" parameterType="com.sku.fitizen.domain.Product">
        INSERT INTO product (prname, prprice, prdesc, primage)
        VALUES (#{prname}, #{prprice}, #{prdesc}, #{primage})
        <selectKey keyProperty="prid" resultType="int" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>
    </insert>

    <!-- 상품명으로 prid 얻기 -->
    <select id="getPridByProductName" parameterType="string" resultType="int">
        SELECT prid
        FROM product
        WHERE prname = #{prname}
    </select>

    <!-- 수정 -->
    <update id="updateProduct" parameterType="com.sku.fitizen.domain.Product">
        UPDATE product
        SET prname = #{prname}, prprice = #{prprice}, prdesc = #{prdesc}, primage = #{primage}
        WHERE prid = #{prid}
    </update>

    <!-- 삭제 -->
    <delete id="deleteProduct" parameterType="int">
        DELETE FROM product WHERE prid = #{prid}
    </delete>

</mapper>
