@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

input, button {
    font-family: 'Pretendard-Bold';
}

/* 전체 페이지 스타일 */
.page-contents {
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    justify-content: center; /* 로그인 폼을 세로로 중앙 정렬 */
    align-items: center; /* 로그인 폼을 가로로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이 차지 */
    padding: 0 20px; /* 좌우 여백 추가 */
}

/* 헤더 스타일 */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; /* 전체 너비 */
}

/* 푸터 스타일 */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%; /* 전체 너비 */
    margin-top: auto; /* 푸터는 아래로 붙도록 */
}

/* 로그인 폼을 감싸는 div */
#login-form-container {
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 10px;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

/* 입력 필드 스타일 */
input[type="text"], input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 1.1em;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* 로그인 버튼 스타일 */
button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

/* 체크박스 및 링크 스타일 */
.remember-me {
    margin-top: 15px;
    text-align: left;
}

.remember-me a {
    color: #4CAF50;
    font-size: 14px;
    text-decoration: none;
}

.remember-me a:hover {
    text-decoration: underline;
}

/* footer 링크 스타일 */
.footer-links {
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.footer-links a:hover {
    text-decoration: underline;
}

/* 반응형 디자인 */
@media (max-width: 576px) {
    #login-form-container {
        padding: 20px;
        width: 90%;
    }

    h3 {
        font-size: 2em;
    }
}