<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.challenge.ChallengeMapper">

    <!-- 챌린지 등록 -->
    <insert id="saveChallenge" parameterType="com.sku.fitizen.domain.challenge.Challenge">
        <!-- 시퀀스를 사용하여 챌린지 ID를 가져오기 -->
        <selectKey keyProperty="challengeId" resultType="int" order="BEFORE">
            SELECT CHALL_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        <!-- 등록 -->
        INSERT INTO challenge (challengeId, TITLE, COVERIMG,UCOVERIMG, STARTDATE, ENDDATE, LIMITUSER, CONTENT, CREATORID,WEEK,PROOFCOUNT,PROOFDAYS,CATEGORYID,ENTRYPOINT)
        VALUES (#{challengeId}, #{title},#{coverImg},#{uCoverImg}, #{startDate}, #{endDate}, #{limitUser}, #{content}, #{creatorId},#{week},#{proofCount},#{proofDays},#{categoryId},#{entryPoint})
    </insert>

    <!--관리자 챌린지 : 공식 챌린지 -->
    <select id="getChallengesByAdmin" resultType="com.sku.fitizen.domain.challenge.Challenge">
        SELECT *
        FROM challenge c
        WHERE c.creatorId IN (
            SELECT username
            FROM authorities
            WHERE authority = 'ROLE_ADMIN'
        )
    </select>

    <!--챌린지 카테고리들-->
    <select id="getChallCategories" resultType="com.sku.fitizen.domain.challenge.ChallCategory">
        SELECT * FROM  CHALLCATEGORY
    </select>

    <!-- 특정 카테고리에 속해있는 챌린지 -->
    <select id="getChallByCategory" parameterType="Integer" resultType="com.sku.fitizen.domain.challenge.Challenge">
        SELECT * FROM  CHALLENGE
        WHERE CATEGORYID =#{categoryId}
    </select>


    <!-- top3 챌린지 -->

    <select id="getTop3Challenge" resultType="com.sku.fitizen.domain.challenge.Challenge">
        <![CDATA[
        SELECT * FROM (
                          SELECT *
                          FROM CHALLENGE
                          WHERE members < limitUser
                          ORDER BY members DESC, challengeId
                      ) WHERE ROWNUM <= 3
        ]]>
    </select>



    <!--전체 챌린지 목록 조회 -->
    <select id="getChallengeList"  resultType="com.sku.fitizen.domain.challenge.Challenge">
           SELECT *FROM  challenge
    </select>

    <!-- 카테고리별 챌린지 목록 조회
    <select id="getCategoryByChallenges" resultMap="joinMap">
        SELECT
            c.CATEGORYID AS categoryId,
            c.CATEGORYNAME AS categoryName,
            ch.CHALLENGEID AS challengeId,
            ch.TITLE AS title,
            ch.COVERIMG AS coverImg,
            ch.UCOVERIMG AS uCoverImg,
            ch.STARTDATE AS startDate,
            ch.ENDDATE AS endDate,
            ch.LIMITUSER AS limitUser,
            ch.CREATORID AS creatorId,
            ch.CONTENT AS content,
            ch.MEMBERS AS members,
            ch.WEEK AS week,
            ch.PROOFCOUNT AS proofCount,
            ch.PROOFDAYS AS proofDays
        FROM
            CHALLCATEGORY c
                LEFT JOIN
            CHALLENGE ch ON c.CATEGORYID = ch.CATEGORYID
        ORDER BY
            c.CATEGORYID
    </select>

    <resultMap id="joinMap" type="com.sku.fitizen.domain.challenge.ChallCategory">
        <id property="categoryId" column="categoryId"/>
        <result property="categoryName" column="categoryName"/>
        <collection property="challenges" ofType="com.sku.fitizen.domain.challenge.Challenge">
            <id property="challengeId" column="challengeId"/>
            <result property="title" column="title"/>
            <result property="coverImg" column="coverImg"/>
            <result property="uCoverImg" column="uCoverImg"/>
            <result property="startDate" column="startDate"/>
            <result property="endDate" column="endDate"/>
            <result property="limitUser" column="limitUser"/>
            <result property="creatorId" column="creatorId"/>
            <result property="content" column="content"/>
            <result property="members" column="members"/>
            <result property="week" column="week"/>
            <result property="proofCount" column="proofCount"/>
            <result property="proofDays" column="proofDays"/>
        </collection>
    </resultMap>
-->

    <select id="searchChallenges"
            resultType="com.sku.fitizen.domain.challenge.Challenge"
            parameterType="map">
        SELECT * FROM CHALLENGE

        <where>  <!-- CONCAT 함수는 두 개의 인수만 허용-->
            <if test= "searchType.equalsIgnoreCase('title')">        AND LOWER(title) LIKE LOWER(CONCAT('%' || #{keyword}, '%')) </if>

            <if  test= "searchType.equalsIgnoreCase('creatorId')" >  AND LOWER(creatorId)=LOWER(#{keyword})</if>

            <if test="searchType.equalsIgnoreCase('content')" >      AND LOWER(content) LIKE LOWER(CONCAT('%' || #{keyword},'%'))</if>

        </where>
    </select>




    <!-- 챌린지 참여자 등록   챌린지를 등록한 사람도 참여자에 포함된다  -->
    <insert id="addCreatorToParticipation" parameterType="com.sku.fitizen.domain.challenge.Participation">
                INSERT  INTO participation
                VALUES (#{userId},#{challengeId},SYSDATE)
    </insert>

    <!--챌린지 고유 아이디로 조회 : 챌린지 상세정보 보기 위해-->
    <select id="getChallengeById" parameterType="Integer" resultType="com.sku.fitizen.domain.challenge.Challenge">

            SELECT * FROM challenge WHERE CHALLENGEID =#{id}
    </select>

    <!--챌린지 참여 등록  조건: 하나의 챌린지에 중복 참여 불가 -->

    <insert id="participate" parameterType="com.sku.fitizen.domain.challenge.Participation">
        INSERT INTO  participation (USERID, CHALLENGEID, JOINDATE)
        VALUES (#{userId} ,#{challengeId},SYSDATE)
    </insert>

    <!--챌린지 참여자 수 증가  -->
    <update id="increaseMembers" parameterType="com.sku.fitizen.domain.challenge.Challenge">
        UPDATE challenge SET members=members+1
        WHERE challengeId=#{challengeId}
    </update>

    <!--내가 참여한 챌린지 목록 불러오기-->
    <select id="getMyChallengeList" parameterType="com.sku.fitizen.domain.challenge.Challenge"
            resultType="com.sku.fitizen.domain.challenge.Challenge">
        SELECT * FROM challenge  c
            INNER JOIN participation p on c.challengeId = p.challengeId
            WHERE p.userId =#{userId}
    </select>


    <!--종료 날짜가 오늘이 챌린지 아이디 리스트 -->
    <select id="getChallengesEndingToday" resultType="java.lang.Integer">
        SELECT challengeId
        FROM Challenge
        WHERE TRUNC(endDate) = TRUNC(SYSDATE)
    </select>


</mapper>




