<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sku.fitizen.mapper.challenge.ParticipationMapper">

    <!-- 유저가 특정 챌린지에 참여자인지 확인 -->
    <select id="existUser" parameterType="com.sku.fitizen.domain.challenge.Participation">
        SELECT CASE
                   WHEN COUNT(*) > 0 THEN 1
                   ELSE 0
                   END
        FROM participation
        WHERE userId = #{userId}
          AND challengeId = #{challengeId}
    </select>


    <!-- 스캐쥴러 -->
    <select id="getUserIdList" parameterType="int">
        SELECT USERID FROM  PARTICIPATION WHERE  CHALLENGEID=#{challengId}
    </select>


    <!-- 유저가 참가한 날짜 -->

    <select id="getUserJoinDate" parameterType="com.sku.fitizen.domain.challenge.Participation"
            resultType="Date">
            SELECT JOINDATE FROM  PARTICIPATION
            where USERID=#{userId} and CHALLENGEID=#{challengeId}

    </select>

    <!-- 유저가 참여한 챌린지 번호 리스트 -->
    <select id="getChallengeIdsByUser" resultType="Integer">

        SELECT  CHALLENGEID  FROM  PARTICIPATION
        WHERE userId=#{userId}
    </select>


    <!--유저 챌린지 참여 취소-->
    <delete id="cancelChallenge" parameterType="com.sku.fitizen.domain.challenge.Participation">
        delete FROM PARTICIPATION WHERE CHALLENGEID=#{challengeId} AND USERID=#{userId}
    </delete>

</mapper>









