<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>인증샷 제출</title>
    <link rel="stylesheet" th:href="@{/css/index/indexStyle.css}">
    <link th:href="@{/css/challenge/addProofShotForm.css}" rel="stylesheet" />
    <link rel="stylesheet" href="styles.css">
    <style>
        .page-contents {
            /*    font-family: Arial, sans-serif;*/
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            /*    height: 100vh;*/
            /*    margin: 0;*/
            min-height: 100vh;
        }
    </style>

</head>
<body>
<div>
    <th:block th:replace="~{th/header :: header}"></th:block>
</div>

<div class="page-contents">

<div class="form-container">
    <h1>인증샷 제출</h1>
    <form id="addForm" enctype="multipart/form-data">

        <input type="hidden" id="challengeId" name="challengeId" th:value="${proofShotBoard.challengeId}">
        <input type="hidden" id="userId" name="userId" th:value="${proofShotBoard.userId}">

        <label for="title">제목:</label>
        <input type="text" id="title" th:field="${proofShotBoard.title}" >

        <label for="file">사진 업로드:</label>
        <input type="file" id="file" name="file" accept="image/*" >

        <div class="preview-container">
            <img id="photoPreview" src="" alt="사진 미리보기">
        </div>

        <button type="button" onclick="submitProofShotBoard()">제출하기</button>
    </form>
</div>
</div>
<th:block th:replace="~{th/footer :: footer}"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>

    document.addEventListener('DOMContentLoaded', () => {
        const photoInput = document.getElementById('file');
        const photoPreview = document.getElementById('photoPreview');

        photoInput.addEventListener('change', () => {
            const file = photoInput.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    photoPreview.src = e.target.result;
                };
                reader.readAsDataURL(file);
            } else {
                photoPreview.src = '';
            }
        });
    });

    function submitProofShotBoard() {
        if(!confirm('인증 사진을 올리시겠습니까?'))return;
        var challengeId = document.getElementById('challengeId').value; // 챌린지 ID 가져오기
        var form = document.getElementById('addForm');
        var formData = new FormData(form);

        $.ajax({
            url: '/proofShot/add',
            method: 'POST', // POST 용
            enctype:"multipart/form-data",
            processData: false,
            contentType: false,
            data: formData,
            dataType: 'json',
            success: function(res) {
                if (res.saved) {
                    alert('인증 사진 등록 성공');
                    // 성공 시 챌린지 ID를 포함한 URL로 리다이렉트
                    location.href = `../../proofShot/${challengeId}`;
                } else {
                    alert('인증 사진 등록 실패');
                }
            },
            error: function(err) {
                alert('서버 오류');
            }
        });
    }



</script>
</body>
</html>
