<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>챌린지 상세보기</title>
    <link th:href="@{/css/challenge/challAdd.css}" rel="stylesheet" />
</head>
<body>
<h2>챌린지 상세정보</h2>
<div class="container">
        <div class="form-group">
            <label >챌린지 제목:[[${challe.title}]]</label>
        </div>

       <div class="form-group inline-fields">
            <div>
                <p><strong>시작일:</strong> <span th:text="${challe.startDate}"></span></p>
            </div>
            <div>
                <p><strong>종료일:</strong> <span th:text="${challe.endDate}"></span></p>
            </div>
            <div>
                <label >인원수 제한:[[${challe.limitUser}]]</label>
            </div>

        </div>
        <div class="form-group">
            <label >챌린지 내용:[[${challe.content}]]</label>
        </div>
        <div class="form-group">
          <a th:href="@{../participate/{challengeId}(challengeId=${challe.challengeId})}"><button>챌린지 도전!</button></a>
        </div>
          <a href="/challenge/list">
            <button class="btn-back">뒤로가기</button>
          </a>
</div>
</body>
</html>