<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png"/>
    <title>챌린지 추가하기</title>
    <link rel="stylesheet" th:href="@{/css/index/indexStyle.css}">
    <link th:href="@{/css/challenge/challAdd.css}" rel="stylesheet" />
    <style>
        .page-contents {
            /*    font-family: Arial, sans-serif;*/
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            /*    height: 100vh;*/
            /*    margin: 0;*/
            min-height: 100vh;
        }



    </style>

</head>
<body>
<div>
    <th:block th:replace="~{th/header :: header}"></th:block>
</div>

<div class="page-contents">
<h2>챌린지 추가하기</h2>
<div class="container">
    <!-- 폼 시작 -->
    <form id="addForm"  enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">챌린지 제목</label>
            <input type="text" id="title" name="title">
        </div>

        <button type="button" onclick="document.getElementById('file').click();">파일 선택</button>
        <div class="form-group" id="coverImageWrapper">
            <input type="file" id="file" name="file" accept="image/*" style="display: none;">
            <img id="imagePreview" src="">
        </div>

        <div class="form-group inline-fields">

            <!--

            <div>
                <label for="startDate">시작일</label>
                <input type="date" id="startDate" name="startDate">
            </div>
            <div>
                <label for="endDate">종료일</label>
                <input type="date" id="endDate" name="endDate">
            </div>

            -->

            <div class="acontainer px-1 px-sm-5 mx-auto">
                <form autocomplete="off">
                    <div class="flex-row d-flex justify-content-center">
                        <div class="col-xl-5 col-lg-6 col-11 px-1">
                            <div class="input-group input-daterange">
                                <label class="">주 선택:</label>
                                <input type="text" name="daterange"   readonly />
                            </div>
                        </div>
                    </div>
                </form>
            </div>


            <div>
                <label for="limitUser">인원수 제한:</label>
                <input type="number" id="limitUser" name="limitUser" min="1">
            </div>
        </div>

        <div class="form-group">
            <label for="content">챌린지 내용:</label>
            <textarea id="content" name="content"></textarea>
        </div>

        <!-- 폼 전송 버튼 -->
        <div class="form-group">
            <button type="button" onclick="submitChallenge()">등록하기</button>
        </div>
    </form>
    <a href="/challenge/list">
        <button class="btn-back">뒤로가기</button>
    </a>
</div>
</div>



<th:block th:replace="~{th/footer :: footer}"></th:block>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<!--에이터 -->
<script>







    $(document).ready(function(){
        var today = new Date();

        $(function() {
            $('input[name="daterange"]').daterangepicker({
                startDate: today,
                endDate:today,
                opens: 'center',
                autoUpdateInput: false,
                locale: {
                    format:'YYYY-MM-DD HH:mm:ss',
                    language: "ko",
                    applyLabel:"확인",
                    cancelLabel: "취소",
                    daysOfWeek: ["일","월","화","수","목","금","토"],
                    monthNames:["1월","2월","3월","4월","5월","6월","7월","8월","9월","10월","11월","12월"]
                },

            });
        });
    });


    document.getElementById('file').addEventListener('change', function(event) {
        const file = event.target.files[0];
        const preview = document.getElementById('imagePreview');

        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(file);
        } else {
            preview.src = '';
            preview.style.display = 'none';
        }
    });

    function submitChallenge() {
        if(!confirm('작성된 글을 저장하시겠습니까?'))return;

        var form = document.getElementById('addForm');
        var formData = new FormData(form);

        console.log(formData.get('file'))
        $.ajax({
            url: '/challenge/save',
            method: 'POST', // POST 용
            enctype:"multipart/form-data",
            processData: false,
            contentType: false,
            data: formData,
            dataType: 'json',
            success: function(res) {
                alert(res.saved ? '챌린지 등록 성공' : '챌린지 등록 실패');
                if (res.saved) {
                    location.href = ""; // 리다이렉트할 URL
                }
            },
            error: function(err) {
                alert('챌린지 작성 실패, 서버 오류');
            }
        });
    }

</script>
</body>
</html>

