<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="96x96" href="/image/favicon-96x96.png"/>
    <title>내 챌린지 목록</title>
    <link rel="stylesheet" th:href="@{/css/index/indexStyle.css}">
    <link th:href="@{/css/challenge/mychall.css}" rel="stylesheet" />
    <style>
        .page-contents {
            /*    font-family: Arial, sans-serif;*/
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            /*    height: 100vh;*/
            /*    margin: 0;*/
            min-height: 100vh;
        }
    </style>

</head>
<body>

<div>
    <th:block th:replace="~{th/header :: header}"></th:block>
</div>
<div class="page-contents">

<h2>내 챌린지 목록</h2>
<div class="container">
    <div class="challenge-list">

        <!-- th:each를 사용하여 List를 반복 -->
        <div th:each="m : ${myChall}" class="challenge-item">
            <div class="pie-chart-container">
                <div class="pie-chart pie-chart1"><span class="center">80%</span></div>
            </div>
            <div class="challenge-info">
                <div class="title" th:text="${m.title}">챌린지 제목</div>
                <div class="user-id" th:text="'진행자: ' + ${m.creatorId}">진행자</div>
                <div class="date-range" th:text="'기간: ' + ${m.startDate} + ' ~ ' + ${m.endDate}">기간</div>
            </div>
            <div class="challenge-actions">
                <a class="button" th:href="@{/challenge/detail/{id}(id=${m.challengeId})}">상세보기</a>
                <a class="button" th:href="@{/ws/in(roomId=${m.challengeId})}">채팅</a>
                <a class="button" th:href="@{/proofShot/{id}(id=${m.challengeId})}">인증 게시판</a>
                <a class="button" th:href="@{/challenge/cancel/{id}(id=${m.challengeId})}">챌린지 취소</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(window).ready(function(){
        draw(80, '.pie-chart1','#28a745');
        draw(50, '.pie-chart2', '#8b22ff');
        draw(30, '.pie-chart3','#ff0');
    });

    function draw(max, classname, colorname){
        var i = 1;
        var func1 = setInterval(function(){
            if(i < max){
                color1(i, classname, colorname);
                i++;
            } else {
                clearInterval(func1);
            }
        }, 10);
    }

    function color1(i, classname, colorname){
        $(classname).css({
            "background": "conic-gradient(" + colorname + " 0% " + i + "%, #ffffff " + i + "% 100%)"
        });
    }
</script>

</div>
<th:block th:replace="~{th/footer :: footer}"></th:block>
</body>
</html>
