<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index/indexStyle.css}"> <!-- CSS 파일 링크 -->
</head>
<body>
<header>
    <div class="header-container">
        <div id="logo">
            <a href="/"><img src="/image/logo.png" width="300" height="100" alt="Logo"></a>
        </div>
        <ul class="nav">
            <li class="dropdown">
            <a href="/shop">상점</a>
            <ul class="dropdown-menu">
                <li><a href="/shop">상점</a></li>
                <li><a href="/cart">장바구니</a></li>
            </ul>
            </li>

            <li> <a href="/findME">맞춤 운동 찾기</a></li>
            <li><a href="/trainer">트레이너</a></li>
            <li><a href="/challenge">챌린지</a></li>
            <li><a href="/ai/uploadVideo">자세분석</a></li>
            <li><a href="/ai/chatBot">챗봇</a></li>
            <li class="dropdown">
                <a href="/board/list">게시판</a>
                <ul class="dropdown-menu">
                    <li><a href="/board/list">자유게시판</a></li>
                    <li><a href="/qna">Q&A</a></li>
                </ul>
            </li>
            <li><a th:href="@{${session.user != null ? '/login/logout' : '/login/login'}}" th:text="${session.user != null ? 'Logout (' + session.user.id + ')' : 'Login'}"></a></li>
            <li th:if="${session.user == null}">
                <a href="/register/add">회원가입</a>
            </li>
            <li class="dropdown">
                <div th:if="${session.user != null}">
                    <a href="/user/myPage">마이페이지</a>
                    <ul class="dropdown-menu">
                        <li class="flex_item"><a href="/register/updateuser">수정</a></li>
                        <li class="flex_item"><a href="/register/deleteuser">삭제</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</header>
<!-- 페이지 컨텐츠 -->
</body>
</html>
